<!DOCTYPE html>
<html lang="<%- page.config.locale %>">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <title><%= page.config.title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <% for(var i in page.css){ %>
    <link rel="stylesheet" href="<%- page.css[i] %>" />
    <% } %>
  </head>

  <body>
    <nav class="navbar bg-white border-bottom p-3">
      <div class="container-fluid">
        <div style="width: 100px"><%- include('../partials/logo') %></div>
        <div class="menu">
          <a
            href="/dashboard"
            class="menu-item <%-current_page == 'dashboard' ? 'active' : ''%>"
          >
            <span class="sap-icons">&#xe120;</span>
            <%-page.i18n.dashboard%>
          </a>
          <a
            href="/transactions"
            class="menu-item <%-current_page == 'transactions' ? 'active' : ''%>"
          >
            <span class="sap-icons">&#xe117;</span>
            <%-page.i18n.transactions%>
          </a>
          <a
            href="/budget"
            class="menu-item <%-current_page == 'budget' ? 'active' : ''%>"
          >
            <span class="sap-icons">&#xe033;</span>
            <%-page.i18n.budget%>
          </a>
          <a
            href="/report"
            class="menu-item <%-current_page == 'report' ? 'active' : ''%>"
          >
            <span class="sap-icons">&#xe11f;</span>
            <%-page.i18n.report%>
          </a>
        </div>
        <div class="d-flex align-items-center justify-content-center">
          <div class="text-end me-2">
            <p class="mb-0 text-muted small"><%-page.i18n.welcome_text%></p>
            <p class="mb-0 text-bold header-username">
              <%- page.config.user.firstname %>
            </p>
          </div>
          <div class="btn-group">
            <button
              type="button"
              class="btn btn-dropdown dropdown-toggle dropdown-toggle-split"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            ></button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <a class="dropdown-item" href="/categories"
                  ><%-page.i18n.categories%></a
                >
              </li>
              <li>
                <a class="dropdown-item" href="/account"><%-page.i18n.account%></a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <button type="button" id="btn-logout" class="dropdown-item">
                  <%-page.i18n.logout%>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <div class="container-fluid p-4"><%- body %></div>

    <div
      class="modal fade"
      id="modal-transactions"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="modal-transactions-label"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title" id="modal-transactions-label">
              <span class="sap-icons">&#xe117;</span>
              <%-page.i18n.transaction%>
            </div>
            <button
              type="button"
              class="btn-close small"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form id="form-transactions" class="row g-3">
              <div class="col-12">
                <label for="form-transactions[type]" class="required">
                  <%-page.i18n.type%>
                </label>
                <select name="type" id="form-transactions[type]" class="form-select">
                  <option value="O"><%-page.i18n.expenses%></option>
                  <option value="I"><%-page.i18n.revenues%></option>
                </select>
              </div>
              <div class="col-12">
                <label for="form-transactions[description]" class="required">
                  <%-page.i18n.description%>
                </label>
                <input
                  type="text"
                  id="form-transactions[description]"
                  name="name"
                  class="form-control"
                />
              </div>
              <div class="col-6">
                <label for="form-transactions[value]" class="required">
                  <%-page.i18n.value%>
                </label>
                <input type="hidden" id="form-transactions[value]" name="value" />
                <input
                  type="text"
                  id="form-transactions[value_string]"
                  class="form-control mask-money"
                />
              </div>
              <div class="col-6">
                <label for="form-transactions[date_strinf]" class="required">
                  <%-page.i18n.date%>
                </label>
                <input type="hidden" id="form-transactions[date]" name="date" />
                <input
                  type="text"
                  id="form-transactions[date_string]"
                  class="form-control mask-date"
                />
              </div>
              <div class="col-6">
                <label for="form-transactions[category]"
                  ><%-page.i18n.category%></label
                >
                <select
                  name="category_id"
                  id="form-transactions[category]"
                  class="form-select"
                >
                  <option value=""></option>
                </select>
              </div>
              <div class="col-6">
                <label
                  for="form-transactions[status]"
                  id="form-transactions-status-label"
                  class="required"
                ></label>
                <select
                  name="status"
                  id="form-transactions[status]"
                  class="form-select"
                >
                  <option value="0"><%-page.i18n.no%></option>
                  <option value="1"><%-page.i18n.yes%></option>
                </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              <span class="sap-icons">&#xe03e;</span>
              <%- page.i18n.cancel_text %>
            </button>
            <button
              type="button"
              class="btn btn-danger d-none"
              id="btn-remove-transaction"
            >
              <span class="sap-icons">&#xe03d;</span>
              <%-page.i18n.remove_button%>
            </button>
            <button type="button" class="btn btn-success" id="btn-save-transaction">
              <span class="sap-icons">&#xe09a;</span>
              <%-page.i18n.save_button%>
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script>
    const $i18n = <%-JSON.stringify(page.i18n)%>;
    const $config = <%- JSON.stringify(page.config) %>;
  </script>
  <% for(var i in page.js){ %>
  <script src="<%- page.js[i] %>"></script>
  <% } %>
</html>
