<!DOCTYPE html>
<html lang="<%- page.config.locale %>">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <title><%= page.config.title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <% for(var i in page.css){ %>
    <link rel="stylesheet" href="<%- page.css[i] %>" />
    <% } %>
  </head>

  <body>
    <%- body %>
  </body>

  <script>
    const $i18n = <%-JSON.stringify(page.i18n)%>;
    const $config = <%- JSON.stringify(page.config) %>;
  </script>
  <% for(var i in page.js){ %>
  <script src="<%- page.js[i] %>"></script>
  <% } %>
</html>
