<main class="content border">
  <div class="content-left"><%- include('../partials/vector') %></div>
  <form id="form-forgot-password" class="content-right">
    <%- include('../partials/logo') %>
    <div>
      <p class="mb-0 text-center"><%- page.i18n.forgot_password %></p>
      <p class="mb-0 text-center mt-1 small w-75 mx-auto">
        <%- page.i18n.forgot_password_desc %>
      </p>
    </div>
    <div>
      <label for="form-forgot-password[email]" class="required">
        <%- page.i18n.email_field %>
      </label>
      <input
        type="text"
        id="form-forgot-password[email]"
        name="email"
        class="form-control"
        autocomplete="username"
      />
    </div>
    <div>
      <button
        type="button"
        class="btn btn-brand-secondary w-100"
        id="btn-forgot-password"
      >
        <%- page.i18n.send_field %>
      </button>
      <p class="mb-0 mt-1 text-center">
        <a href="/" class="text-dark"> <%- page.i18n_default.cancel_text %> </a>
      </p>
    </div>
  </form>
</main>
