<main class="content border">
  <div class="content-left"><%- include('../partials/vector') %></div>
  <form id="form-reset-password" class="content-right">
    <%- include('../partials/logo') %>
    <div>
      <label for="form-reset-password[password]" class="required"
        ><%- page.i18n.password_field %></label
      >
      <div class="field-password">
        <input
          type="password"
          id="form-reset-password[password]"
          name="password"
          class="form-control"
          autocomplete="new-password"
        />
        <span
          class="sap-icons btn-see-password"
          data-id="#form-reset-password\[password\]"
          ></span
        >
      </div>
    </div>
    <div>
      <label for="form-reset-password[password_confirmation]" class="required"
        ><%- page.i18n.password_confirmation_field %></label
      >
      <div class="field-password">
        <input
          type="password"
          id="form-reset-password[password_confirmation]"
          name="password_confirmation"
          class="form-control"
          autocomplete="new-password"
        />
        <span
          class="sap-icons btn-see-password"
          data-id="#form-reset-password\[password_confirmation\]"
          ></span
        >
      </div>
    </div>
    <div>
      <button
        type="button"
        class="btn btn-brand-secondary w-100"
        id="btn-reset-password"
      >
        <%- page.i18n.save_button %>
      </button>
    </div>
  </form>
</main>

<script>
  const $token = "<%-token%>";
</script>
